header {
    color: White;
    background: #000000;
    display: flex;
    top: 50px;
    
  }
  
  header a {
    text-decoration: none;
  }
  
  header a img {
    filter: invert(1);
    margin-left: 10px;
    width:50px;

  }
  
  header a h1 {
    color: White;
    margin-left: 10px;
    margin-top: 3%;
    font-size: 150%;
  }
  
  header a:hover,
  header a:active {
    color: #777777;
  }
  
  header div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  