div#root {
    background: White;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  div#root div.centrepane {
    background: WhiteSmoke;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    max-width: 1000px;
  }
  
  div#root div.centrepane > main {
    padding: 30px;
    width: 100%;
  }
  div.StickyHeader{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
  }