.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    background-color: #f2f2f2;
  
    .about-text {
      width: 60%;
  
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        font-size: 20px;
        margin-bottom: 20px;
  
        li {
          padding: 5px 0;
  
          &:before {
            content: "•";
            color: #ff9900;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
  
    }}