
@import "global.scss";

.grid{
  display: flex;
  margin-top: 15px;
    .info {
      width: 100%;
      padding-bottom: 10px;
      .name {
        color: #005ab3;
        padding: 10px;
        margin-bottom: 0.25rem;
        background:  #b3d9ff;
        font-weight: 100; 
        letter-spacing: 1px; 
        text-transform: uppercase; 
        border-radius: 5px;
      }
      .EM,
      .AD,
      .PH { 
        padding: 10px;
        color: #005ab3;
        margin-bottom: 0.25rem;
        background:  #b3d9ff;
        font-weight: 100;
        text-transform: uppercase; 
        border-radius: 5px;
      }
    }
}