$Red: #edafb8; // Rose
$DarkRed: darken($Red, 20%);
$Green: #29e7cd; // Cyan
$DarkGreen: darken($Green, 10%);
$BorderGrey: LightGrey;

Form {
  width: 100%;
  padding: 10px 0; 

  &.BorderedForm {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid $BorderGrey;
    border-radius: 5px;
  }

  div.FormTray {
    width: 100%;
    margin-bottom: 20px;
  }

  div.ActionTray {
    width: 100%;
    
  }
}

Form.Item {
  
  margin-bottom: 20px;

  label.FormLabel {
    display: block;
    font-weight: 600;
  }

  p.FormAdvice {
    color: $DarkGreen; 
    font-weight: 400;
    font-size: 90%;
  }
  
  select,
  input {
    width: 100%;
    padding: 3px;
    margin: 1px 0;
    font-size: 100%;
    border-radius: 0px;
    border: 1px solid $BorderGrey;
    background: White;

    &::placeholder,
    &:disabled {
      color: Grey;
      font-weight: 300;
    }

    &:hover,
    &:focus {
      outline-width: 1px;
      outline-color: red;
      outline-style: solid;
      border-width: 1px;
      border-style: solid;;
    }
    &:hover { 
      border-color: $BorderGrey; 
      outline-color: $BorderGrey; 
    }
    &:focus { 
      border-color: $DarkGreen; 
      outline-color: $DarkGreen; 
    }

    &[type="number"] { text-align: left; }

    &.FormError {
      border-color: $DarkRed;
      outline-color: $DarkRed;
    }
  }

  p.FormError {
    color: $DarkRed; 
    font-weight: 400;
    font-size: 90%;
  }
}